html{
    scroll-behavior: smooth;
	font-family: 'Work Sans', sans-serif;
}
body {
    background-color: #bdc3c7;
    margin: 0;
    padding: 0;
}
section {
}
h1 {
    color: black;
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: black;
}

.hh2{
	text-align: center;
}

h3 {
    font-size: 23px;
    color: black;
}

p {
    font-size: 22px;
    color: black;
}

ul {
    font-size: 20px;
}
.column a{
	color: #2980b9;
	text-decoration: none;
	transition: 0.3s;
}
.column a:hover{
	color: #3498db;
	text-decoration: underline;
}
.header {
    text-align: center;
    background-color: goldenrod;
    padding: 20px;
}
.header-img {
    width: 100%;
    height: 600px;
    background: url(slike/spawn.png);
    background-size: cover;
}
.meni {
    float: right;
    padding-right: 10%;
    padding: 20px 16px;
}
.meni ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.meni li {
	float: right;
	padding: 5px;
}

.meni a {
    text-decoration: none;
    color: #27ae60;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
	transition: 0.4s;
	padding: 3px 25px;
    border-radius: 10px;
    border-style: outset;
	display: inline-block;
}
.meni a:hover {
    color: #2980b9;
	border-style: inset;
}

.discord{
	position: absolute;
	right: 1rem;
	top: 5rem;
}

@media (max-width: 1440px) {
    .discord {
        display: none;
    }
}

@media (max-width: 425px) {
    h1{
        font-size: 2rem;
    }
	.hh2{
		font-size: 1.5rem;
	}
}

.column {
    float: left;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.row {
    display: table;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.footer{
    background-color: #7f8c8d;
    float: none;
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 16px;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer li {
    display: inline-block;
    padding: 10px 50px;
}
.copy{
    background-color: #7f8c8d;
    text-align: center;
    padding: 20px;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

.mySlides {
    display: none;
    border-width: 5px;
    border-style: solid;
}

img {
    vertical-align: middle;
}

* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 60%;
    position: relative;
    margin: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: gray;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
.prev, .next, .text {
    font-size: 12px
    }
@font-face {
  font-family: BreeSerif;
  src: url(BreeSerif-Regular.ttf);
    }
	
/* Scroll bar */

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    background: #141414;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border: solid 3px #141414;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}